<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>
      Team <%= @team_title %>
    </h1>
    <p>
      <ul>
        <% @team_members.each do |team_member| %>
            <li><%= "#{team_member[:first_name]} #{team_member[:last_name]}, #{team_member[:position]}" %></li>
        <% end %>
      </ul>
      <a href="http://localhost:4567/">Back</a>
    </p>
  </body>
</html>
